.contact_section-left {
  @include grid-column(4);
  @include grid-push(1);
}

.contact_section-right {
  @include grid-column(6.5);
  padding-bottom: 2em;
  font-size: 1.5em;
}

.form--id {
  border-color: $red--rvnsc;
  border: 1px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  color: $red--rvnsc;
  font-family: $font--paragraph;
  font-size: .8em;
  height: 1.5em;
  opacity: .7;
  padding: $padding--medium;
  margin-top: 2em;
}

.form--info {
  background-image: -webkit-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -moz-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -ms-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -o-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-size: 100% 31px;
  border: none;
  border-radius: 0px;
  line-height: 30px;
  font-family: $font--paragraph;
  font-size: .7em;
  margin-top: $margin--small - 2;
  padding: $padding--medium - 5;
  opacity: .7;
}

.form__textarea {
  padding: .5em;
}

.form__button {
  padding: .5em;
  font-size: .7em;
  border-radius: 25px;
  border-color: white;
  width: 15em;
  color: $white--rvnsc;
  background-color: $red--rvnsc;
  transition: all 0.5s ease;

  &:hover {
    background-color: red;
    font-family: $font--bold;
    width: 16em;

  }
}

