.contact_section-left {
  @include grid-column(4);
  @include grid-push(1);
 
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    @include grid-column(10);
    @include grid-push(1.5);
  }

}

.contact_section-right {
  @include grid-column(6.5);
  font-size: 1.5em;
  padding-bottom: 2em;
  
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    @include grid-column(10);
    @include grid-push(1.5);
  }
}

.form--id {
  border-color: $red--rvnsc;
  border-color: $red--rvnsc;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: $red--rvnsc;
  font-family: $font--paragraph;
  font-size: .8em;
  height: 1.5em;
  margin-top: 2em;
  opacity: .7;
  padding: $padding--medium;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    width: 65%;
  }
}

.form--info {
  background-image: -webkit-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -moz-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -ms-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: -o-linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-image: linear-gradient(white, white 30px, $red--rvnsc 30px, $red--rvnsc 31px, $red--rvnsc 31px);
  background-size: 100% 31px;
  border: none;
  border-radius: 0px;
  font-family: $font--paragraph;
  font-size: .7em;
  line-height: 30px;
  margin-top: $margin--small - 2;
  opacity: .7;
  padding: $padding--medium - 5;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    width: 65%;
    margin-bottom: 2em;
  }
}



.form__button {
  background-color: $red--rvnsc;
  border-radius: 25px;
  border: 0;
  color: $white--rvnsc;
  font-size: .7em;
  padding: .5em;
  transition: all 0.5s ease;
  width: 15em;

  &:hover {
    background-color: red;
    font-family: $font--bold;
    width: 16em;

  }
}

