.footer-mobile__nav {
  display: none;

  @include grid-media($custom-neat-grid){
    width: 100%;
    align-items: center;
    background-color: #FF5D5D;
    color: white;
    bottom: 0;
    display: inline-flex;
    font-size: 1.2em;
    height: 3em;
    position: sticky;
    text-align: center;
    z-index: 2;
    justify-content: center;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        font-family: pt-mono-bold;
        color: white;
      }
    }

    a, .footer-mobile__nav {
      margin-right: 1em;  
    }

    a:last-child {
    margin-right: 0em; 
    }

  }

  @include grid-media($custom-neat-grid--_5SE){
    font-size: 1.0em;
 }   
}

.footer__banner {
  align-items: baseline;
  background-color: #FF5D5D;
  display: inline-flex;
  flex-direction: column;
  height: 10em;
  width: 100%;

  & button {
    @include grid-column(3);
    @include grid-push(4.5);
    background-color: white;
    border-radius: 25px;
    border-width: 0px;
    color: red;
    padding: 1.5em;
    margin-top: 4em;
  }

  & button:hover {
    background-color: red;
    color: white;
  }

  @include grid-media($custom-neat-grid){
    display: none;
  }

}

.copyright__type {
  @include grid-column(3);
  @include grid-push(9);
  text-align: center;
  color: white;
}