.footer-mobile__nav {
  display: none;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    width: 100%;
    align-items: center;
    background-color: #FF5D5D;
    color: white;
    bottom: 0;
    display: inline-flex;
    font-size: 1.2em;
    height: $font-size--base * 2;
    position: sticky;
    text-align: center;
    z-index: $front-z-index;
    justify-content: center;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        font-family: pt-mono-bold;
        color: white;
      }
    }

    a, .footer-mobile__nav {
      margin-right: 1em;  
    }

    a:last-child {
    margin-right: 0em; 
    }

  }

  @include grid-media($custom-neat-grid--_5SE){
    font-size: 1.0em;
 }   
}

.footer__banner {
  align-items: baseline;
  background-color: #FF5D5D;
  display: inline-flex;
  flex-direction: column;
  height: 10em;
  width: 100%;
  text-align: center;
  padding-bottom: 3em;

  & a {
    @include grid-column(3);
    @include grid-push(4.5);
    background-color: white;
    border-radius: 25px;
    border-width: 0px;
    margin-top: $margin--small - 2;
    padding: 1.2em;
    opacity: 0.5;
    transition: all 0.5s ease;

  }

  & button {
    border-width: 0px;
    background-color: white;
    width: 100%;
    opacity: .5;
    transition: all 0.5s ease;

  }

  & a:hover {
    opacity: 1;

    button {
      font-family: $font--bold;
      color: red;
      cursor: pointer;
    }
  
  }

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    display: none;
  }
 
  p {
    @include grid-column(7);
    @include grid-push(2.8);
    color: $white--rvnsc;
    margin-top: $margin--small - 3;
  }
}