.homepage_btn {
  width: 10%;
}

.homepage_social_links {
  margin-top: 2em;
  margin-left: 2em;
  width: 25em;
}
.homepage_social_links a {
  text-decoration: none;
}

.homepage__nav {
  @include grid-column(3);
  @include grid-push(8);
  margin-top: 1em;
}

.homepage__nav a {
  margin-left: .5em;
  margin-right: .5em;
  text-decoration: none;

  &:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.mainpage__nav {
  @include grid-column(3);
  @include grid-push(3.5);
  text-align: right; 
  padding: 1em;
  font-size: 1.2em;

  & a {
     color: white;
    text-decoration: none;
  }

  & a:hover {
    font-weight: bold;
  }
}

.nav__top {
  background-color: #FF5D5D;
  display: inline-flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.page_social_links {
  width: 25rem; 
  margin: 1.5em;
  text-decoration: none;
}

.page_social_links a {
  text-decoration: none;
}

.page-layout__container {
  @include grid-container;
  // @include grid-visual;
}

.rvnsc__logo--stamp {
  width: 6em;
  margin-left: 2em;
}