
body {
  background-color: white;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  height: 100%;
}

a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);

  }
}

.homepage_btn {
  width: 10%;
}

.homepage_social_links {
  @include grid-column(4);
  margin-top: 1em;
}
.homepage_social_links a {
  text-decoration: none;
}

.page_social_links a {
  text-decoration: none;
}

.homepage__nav a {
  margin-left: .5em;
  margin-right: .5em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

