.homepage_btn {
  width: 10%;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;


  &:hover {
    opacity: 1.0;
  }

  @include grid-media($custom-neat-grid){
    width: 9%;
  }

  @include grid-media($custom-neat-grid--mobile-L){
    width: 15%;
  }

}

.menu--homepage {
  margin-left: 2em;
  margin-top: 2em;
  width: 25em;

  & a {
    text-decoration: none;
    transition: all 0.5s ease;

  }

  @include grid-media($custom-neat-grid) {
    width: vmax;
    text-align: center;
    margin-left: 0;
    width: 100%;
  }
}

.mainpage__nav {
  @include grid-column(4);
  @include grid-push(2.5);
  font-size: 1.2em;
  padding: 1em;
  text-align: right;
  color: white;


  & a {
    color: white;
    text-decoration: none;
  }

  & a:hover {
    color: white;
    font-family: pt-mono-bold;
  }

  @include grid-media($custom-neat-grid){
    display: none;
  }

}

.nav__top {
  align-items: center;
  background-color: #FF5D5D;
  display: inline-flex;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;

@include grid-media($custom-neat-grid){
  display: inline-flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  top: 0;
  height: 6em;
}

}

.page_social_links {
  margin: 1.5em;
  text-decoration: none;
  width: 25rem;

  & a {
    text-decoration: none;
  }

@include grid-media($custom-neat-grid){
  width: 100%;
  text-align: center;
}

}

.page-layout__container {
  @include grid-container;
  // @include grid-visual;
    background-image: url('../images/bkg_img--v.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top; 
    background-size: 500px;
}

.rvnsc__logo--stamp {
  margin-left: 2em;
  width: 6em;

@include grid-media($custom-neat-grid){
  display: none;
}

}

.nav--homepage {
  @include grid-column(5);
  @include grid-push(6);
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: right;

  @include grid-media($custom-neat-grid){
    @include grid-column(12);
    @include grid-push(0);
    text-align: center;
    font-size: 1.4em;
  }

  & a {
    margin-left: .5em;
    margin-right: .5em;
    text-decoration: none;
    transition: all 0.5s ease;


    &:hover {
      font-weight: bold;
    }
  }
}