body {
  background-color: white;
  color: $black--rvnsc;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", $font-stack-helvetica, "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  height: 100%;
  margin: 0px;
}

a {
  color: rgba($black--rvnsc, 0.7);
  font-family: $font--paragraph;

  &:focus,
  &:hover {
    font-family: $font--bold; 
    color: rgba($red--rvnsc, 0.8);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--header;
}

b {
  font-family: $font--bold;
}

p {
  font-family: $font--paragraph;
}

button {
  font-size: $font-size--button;
  font-family: $font--paragraph;

  &:hover {
    color: $white--rvnsc;
  }

  & a {
    text-decoration: none;
  }

  & a:hover {
    text-decoration: none;
    color: $white--rvnsc;
  }
}

.template__container--homepage {
  @include grid-container;
  height: 100%;
  margin: 0px;
  justify-content: center;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad) {
    height: 100vh;
  }
}

.container--homepage {
  @include grid-column(12);
  @include grid-shift(1);
  background-color: #FF5D5D;
  height: 75%;
  overflow: hidden;
  padding-bottom: 10%;
  text-align: center;
  width: 80%;
  
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad) {
    @include grid-shift(0);
    margin-left: 0;
    width: 100%;
  }
}

.rvnsc__logo {
  @include grid-column(10);
  @include grid-push(1);
  margin-top: $margin--small;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad) {
    display: none;
  }

}

.rvnsc__logo--mobile {
  display: none;
 
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad) {
    display: inline-block;
    width: 45%;
    margin-top: $margin--small/2;
  }
  
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad) {

  }
}
