.home__container--main {
  @include grid-container;
  width: 100%;
}

.homepage__video-logo {
  background-color: blue;
  height: 75%;
  width: 80%;
  @include grid-column(10);
  @include grid-shift(1);
  padding-bottom: 10%;
}

.footer__banner {
  background-color: #FF5D5D;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & button {
    background-color: white;
    border-radius: 25px;
    border-width: 0px;
    color: red;
    margin-top: 1em;
    padding: 2em;
    width: 20%;
  }

}

.rvnsc__logo {
  @include grid-column(10);
  @include grid-push(1);
  margin-top: 5em;
}

.nav__top {
  background-color: #FF5D5D;
  margin-bottom: 2em;
  padding: 1vh;
  position: sticky;
}

.homepage__nav {
  @include grid-column(3);
  @include grid-push(8);
  margin-top: 1em;
}
