/*********
Color
*********/

$black--rvnsc: #222222;
$red--rvnsc: #FF5D5D;
$white--rvnsc: #FCFCFC;

/*********
Size
*********/
$height--base: 10em;
$font-size--base: 1.5em;
$font-size--button: .9em;

/********
Space
*********/
$margin--small: 5em;
$padding--medium: 10px;

/********
Typography
*********/

$font--header: anivers-small-caps;
$font--bold: pt-mono-bold;
$font--paragraph: pt-mono-regular;

/********
Z-Index
*********/
$front-z-index: 2;
$center-z-index: 0;
$back-z-index: -1;

/********
Responsive Variables
*********/

$custom-neat-grid--_5SE: (
  media: "screen and (max-width: 320px)",
);

$custom-neat-grid--mobile-L: (
  media: "screen and (max-width: 425px)",
);

$custom-neat-grid: (
  media: "screen and (min-width: 999px)",
);

$custom-neat-grid: (
  media: "screen and (max-width: 1024px)",
);