.about_page--container {
  @include grid-container;
}

.about-section__header {
  @include grid-column(11);
  @include grid-push(1);
  margin-top: -4.6em;
  
  & h1 {
    font-size: 7em;
    z-index: 2;
  }
  
  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    @include grid-column(12);
    @include grid-push(0);
    font-size: .8em;
    margin-bottom: 2em;
    text-align: center;
    line-height: 5em;
  }
}

h1.about-section__header--back{
  @include grid-push(2);
  color: #FF5D5D;
  font-size: 10em;
  margin-top: -1.3em;
  opacity: 0.3;
  z-index: -1;

   @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    font-size: 6em;
    margin-bottom: 2em;
    margin-top: -1.6em;
  }
}

.about-section__secondary--header {
  @include grid-column(7);
  @include grid-push(1);
  font-size: $font-size--base;
  margin-top: -6.5em;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    @include grid-column(12);
    font-size: 1.8em;
    text-align: center;
  }
}

.about_section-left {
  @include grid-column(4);
  @include grid-push(1);
  font-size: 1.4em;
  margin-top: -1em;

@include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
  @include grid-column(10);
  @include grid-push(1);
  font-size: 1.5em;
  margin-top: -3em;
}

}

p.about--offerings {
  line-height: 2em;
  font-size: 0.8em;
}

.about_section-right {
  @include grid-column(6.5);
  margin-left: 2em;
  margin-bottom: 5em;
  overflow: hidden;

  @include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    @include grid-column(12);
    overflow: hidden;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    img {
      width: 100%;

    }
  }  
}

.about--paragraph {
  font-size: 0.8em;
  line-height: 1.8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;

@include grid-media($custom-neat-grid, $custom-neat-grid--iPad){
    line-height: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    line-height: 2em;
    font-size: .5em;

  }  

}

.about_split--container {
  @include grid-collapse;
  margin-top: 0;
}
