<h1 class="title--404-error">
oh no! 404 error!
</h1>
<p class="paragraph--404-error">
Looks like you bit on a weird spot here. This could be a good idea to 
<!--
PHP link to previous page
-->
<a href="www.ravenouscreative.com">go back</a>.
</p>