<div class="about_section-left">
  <h1>who am i • what I do </h1>
  <h2>download resume • view promo</h2>
  <h4>services</h4> <p>A and B and C</p>
</div>

<div class="about_section-right">
    <%= image_tag 'logo__box--stamp.svg' %>

      <p>Ravenous Creative is the full-stop creative 
      hub of Ricky Rodriguez, a designer, writer, 
      artist, and illustrator located in Durham, 
      North Carolina. All projects, from design to 
      lettering to illustration, involves a ravenous 
      understanding of the full production process. 
      Nothing is created without empathy to 
      production, community, the user, and the 
      client.
      Learn more about my design and process at the 
      blog, buy some cool stuff at the store, and 
      connect if you want to collaborate on some 
      projects.</p>

</div>