<div class="project--container">
  <div class="project--navigation">
    <div class="button--previous">
    <!-- PHP Link to previous post -->
      <a href="www.google.com">
        <p><< previous project</p>
      </a>
    </div>

      <div class="button--next">
      <!-- PHP Link to next post -->
        <a href="www.google.com">
          <p>next project >></p>
        </a>
      </div>
  </div>

  <div class="project-page__title">
    <h1>lettering</h1>
  </div>

<div class="project-page__overview-top-row">    
    <div class="project-page__overview-element">
      <p><b>View</b>
<!-- PHP View Links custom field here -->
      Link 1 • Link 2</p>
    </div>
      
    <div class="project-page__overview-element">
      <p><b>Problem</b> 
<!-- PHP Problem Statement custom field here -->
      What is the difficult problem I solved in this project onward?</p>
    </div>
  
  </div>

  <div class="illustration-page__overview-bottom-row">

    <div class="project-illustration page__overview-element">
      <p><b>Tools</b> 
<!-- PHP Tool custom field here -->
      Glyphs • Watercolor • Gouache</p>
    </div>

  </div>

<div class="project-page__copy">
  <p>But I must explain to you how all this mistaken 
  idea of denouncing pleasure and praising pain 
  was born and I will give you a complete account 
  of the system, and expound the actual teachings 
  of the great explorer of the truth, the master-
  builder of human happiness.</p>
</div>


<div class="project-page__hero">

</div>


  <div class="illustration-page__image-container">
    <div class="illustration-page__image">
  <!-- PHP Project Image One -->
      Test
    </div>
  <div class="illustration-page__image">
  <!-- PHP Project Image Two -->

      Test
    </div>
      <div class="illustration-page__image">
  <!-- PHP Project Image Three -->

      Test
    </div>
      <div class="illustration-page__image">
  <!-- PHP Project Image Four -->

      Test
    </div>
  </div>

</div>