<div class="contact_section-left">
  <h1>contact for services</h1>
  <p>A and B and C</p>
</div>

<div class="contact_section-right">
<form class="conctact">
  <p>This is a conctact form</p>
  <input type="text" name="name" placeholder="first name" class="form--id">
  <input type="text" name="e-mail" placeholder="last name" class="form--id">

<div class="form__textarea">
  <textarea cols="50" rows="10" name="explanation" class="form--info">
    
  </textarea>
</div>

    <button class="form__button">Submit</button>

</form>

</div>