<div class="contact_section-left">
  <h1>contact for services</h1>
  <p>A and B and C</p>
</div>

<div class="contact_section-right">
<form class="conctact">
  <p>This is a conctact form</p>
  <button>Submit</button>
</form>

</div>