<div class="contact_section-left">
  <h1>let's connect and collaborate</h1>

  <!-- PHP page info here -->

  <p>Send a quick message, and I'll get back to you! <br> <br> Want to send even more info? E-mail me at <b>ricky@rvnsc.com</b>.</p>
</div>

<div class="contact_section-right">
  <!-- Connect form to e-mail ricky@rvnsc.com -->
<form class="conctact">
  <input type="text" name="name" placeholder="first name" class="form--id">
  <input type="text" name="e-mail" placeholder="last name" class="form--id">
<div class="form__textarea">
  <textarea cols="50" rows="7" name="explanation" class="form--info">
    
  </textarea>
</div>

    <button class="form__button">Submit</button>

</form>

</div>