<div class="portfolio_navigation">
  <h4>design • illustration • type design</h4>
</div>

<div class="portfolio_total-container">
<div class="portfolio_container">
  <h1 class="portfolio--title">Project Ether</h1>
  <p class="portfolio-category">design</p>
</div>

<div class="portfolio_container">
  <h1 class="portfolio--title">Monsters</h1>
  <p class="portfolio-category">illustration</p>
</div>

<div class="portfolio_container">
  <h1 class="portfolio--title">Lettering</h1>
  <p class="portfolio-category">type design</p>
</div>
</div>