<div class="portfolio_navigation">
<!--- Approach with this:
https://codepen.io/samgordon/pen/jPqqWB --->
  <h4>all • design • illustration • type design</h4>
</div>

<div class="portfolio_total-container">

  <a href="project-design.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        project ether
      </h1>  
      <p class="portfolio-category">design</p>
    </div>
  </a>

  <a href="project-illustration.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        monsters
      </h1>
      <p class="portfolio-category">
        illustration
      </p>
    </div>
  </a>

  <a href="project-type.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        lettering
      </h1>
      <p class="portfolio-category">
        type design
      </p>
    </div>
  </a>

  <a href="project-design.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        project ether
      </h1>  
      <p class="portfolio-category">design</p>
    </div>
  </a>

  <a href="project-illustration.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        monsters
      </h1>
      <p class="portfolio-category">
        illustration
      </p>
    </div>
  </a>

  <a href="project-type.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        lettering
      </h1>
      <p class="portfolio-category">
        type design
      </p>
    </div>
  </a>

  <a href="project-design.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        project ether
      </h1>  
      <p class="portfolio-category">design</p>
    </div>
  </a>

  <a href="project-illustration.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        monsters
      </h1>
      <p class="portfolio-category">
        illustration
      </p>
    </div>
  </a>

  <a href="project-type.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        lettering
      </h1>
      <p class="portfolio-category">
        type design
      </p>
    </div>
  </a><a href="project-design.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        project ether
      </h1>  
      <p class="portfolio-category">design</p>
    </div>
  </a>

  <a href="project-illustration.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        monsters
      </h1>
      <p class="portfolio-category">
        illustration
      </p>
    </div>
  </a>

  <a href="project-type.html">
    <div class="portfolio_container">
      <h1 class="portfolio--title">
        lettering
      </h1>
      <p class="portfolio-category">
        type design
      </p>
    </div>
  </a>

</div>