<div class="project--container">

  <div class="project-page__title">
    <h1>lettering</h1>
  </div>

<div class="project-page__overview-top-row">    
    <div class="project-page__overview-element">
      <p><b>View</b> Link 1 • Link 2</p>
    </div>
      
    <div class="project-page__overview-element">
      <p><b>Problem</b> What is the difficult problem I solved in this project onward?</p>
    </div>
  
  </div>

  <div class="illustration-page__overview-bottom-row">

    <div class="project-illustration page__overview-element">
      <p><b>Role</b> UI Designer • Front-End Developer</p>
    </div>

  </div>

<div class="project-page__copy">
  <p>But I must explain to you how all this mistaken 
  idea of denouncing pleasure and praising pain 
  was born and I will give you a complete account 
  of the system, and expound the actual teachings 
  of the great explorer of the truth, the master-
  builder of human happiness.</p>
</div>


<div class="project-page__hero">

</div>


  <div class="illustration-page__image-container">
    <div class="illustration-page__image">
      Test
    </div>
  <div class="illustration-page__image">
      Test
    </div>
      <div class="illustration-page__image">
      Test
    </div>
      <div class="illustration-page__image">
      Test
    </div>
  </div>

</div>