<div class="project--container">

  <div class="project-page__title">
    <h1>monsters</h1>
  </div>

  <div class="project-page__overview-top-row">

    <div class="project-page__overview-element">
      <p><b>View</b> Link 1 • Link 2</p>
    </div>

    <div class="project-page__overview-element">
      <p><b>Problem</b> What is the difficult problem I solved in this project onward?</p>
    </div>

  </div>

  <div class="illustration-page__overview-bottom-row">
    
    <div class="project-illustration page__overview-element">
      <p><b>Tools</b> Photoshop • Gouache Painting</p>
    </div>

  </div>

  <div class="illustration-page__image-container">
    <div class="illustration-page__image">
      Test
    </div>
  <div class="illustration-page__image">
      Test
    </div>
      <div class="illustration-page__image">
      Test
    </div>
      <div class="illustration-page__image">
      Test
    </div>
  </div>





</div>